*{
    padding: 0%;
    margin: 0%;   
}
body{
    background-color: white;
}
@media (max-width:599px){
    #head{
        display: block;
        background-color: black;
    }

    .gi img{
        border-radius: 360px;
    }
    .gi h1{
        color: grey;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .gi{
        padding: 30px 0px;
        text-align: center;
    }
    #main{
        height: 100px;
        margin: 30px;
        text-align: center;
    }
    footer{
        background-color:lightgray;
        padding: 30px;
        text-align: center; 
    }
    #foo{
        padding: 20px;
    }
   
    .fa-instagram{
        color: rgb(241, 92, 162);
        font-size: 40px;
        padding: 10px;
    }
    .fa-square-facebook{
        color: blue;
        font-size: 40px;
        padding: 10px;
    }
    .fa-linkedin{
        color: rgb(60, 60, 243);
        font-size: 40px;
        padding: 10px;
    }
    .fa-github{
        color: rgb(0, 0, 2);
        font-size: 40px;
        padding: 10px;
    }
}

@media (min-width:600px) and (max-width:900px){
    #head{
        background-color: black;
        padding: 20px;
        display: grid;
        grid-column-gap:20px ;
        grid-row-gap: 15px;
        grid-template-columns: auto  auto 0px; 
    }

    .gi{
        padding: 20px;
        margin: 15px;
    }
    .gi img{
        border-radius: 360px;
    }
    .gi h1{
        padding-top:100px ;
        float:right;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:gray;
    }
    #main{
        height: 100px;
        text-align: center;
        margin: 30px;
    }
    footer{
        background-color:lightgray;
        padding: 30px;
        text-align: center; 
    }
    #foo{
        padding: 20px;
    }
   
    .fa-instagram{
        color: rgb(241, 92, 162);
        font-size: 40px;
        padding: 20px;
    }
    .fa-square-facebook{
        color: blue;
        font-size: 40px;
        padding: 20px;
    }
    .fa-linkedin{
        color: rgb(60, 60, 243);
        font-size: 40px;
        padding: 20px;
    }
    .fa-github{
        color: rgb(0, 0, 2);
        font-size: 40px;
        padding: 20px;
    }
   }

@media (min-width:901px){
    #head{
        background-color: black;
        padding: 20px;
        display: grid;
        grid-column-gap:30px ;
        grid-row-gap: 15px;
        grid-template-columns: auto  auto 0px; 
    }

    .gi{
        padding: 20px;
        margin: 15px;
    }
    .gi img{
        border-radius: 360px;
    }
    .gi h1{
        padding-top:100px ;
        color:grey;
        float:right;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #main{
        height: 100px;
        margin: 30px;
        text-align: center;
    }
    footer{
        background-color:lightgray;
        padding: 30px;
        text-align: center; 
    }
    #foo{
        padding: 20px;
    }
   
    .fa-instagram{
        color: rgb(241, 92, 162);
        font-size: 40px;
        padding: 20px;
    }
    .fa-square-facebook{
        color: blue;
        font-size: 40px;
        padding: 20px;
    }
    .fa-linkedin{
        color: rgb(60, 60, 243);
        font-size: 40px;
        padding: 20px;
    }
    .fa-github{
        color: rgb(0, 0, 2);
        font-size: 40px;
        padding: 20px;
    }
   }
